<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Anomaly Detection</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .chart-container {
            width: 90%;
            height: 90%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="chart-container">
        <div id="dataChart"></div>
    </div>
    <script>
        let data = {
            x: [],
            y: [],
            z: [],
            mode: 'markers',
            type: 'scatter3d',
            marker: { size: 5 }
        };

        let anomalyData = {
            x: [],
            y: [],
            z: [],
            mode: 'markers',
            type: 'scatter3d',
            marker: { size: 8, color: 'red' }
        };

        function updatePlot(newRows, anomalies) {
            newRows.forEach((row, index) => {
                data.x.push(row[0]);
                data.y.push(row[1]);
                data.z.push(row[2]);

                if (anomalies[index]) {
                    anomalyData.x.push(row[0]);
                    anomalyData.y.push(row[1]);
                    anomalyData.z.push(row[2]);
                }
            });

            const layout = {
                scene: {
                    xaxis: { title: 'Temperature' },
                    yaxis: { title: 'Humidity' },
                    zaxis: { title: 'Power Demand' }
                },
                margin: {
                    l: 0,
                    r: 0,
                    b: 0,
                    t: 0
                }
            };

            Plotly.react('dataChart', [data, anomalyData], layout);
        }

        function fetchData() {
            fetch('/stream_data')
                .then(response => response.json())
                .then(data => {
                    updatePlot(data.new_rows, data.anomalies);
                });
        }

        setInterval(fetchData, 3000);
    </script>
</body>
</html>
